name: Nix build

on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host:
          - obiwan
          - chewie

    steps:
      - uses: actions/checkout@v6

      - name: Clean runner for Nix usage
      - uses: wimpysworld/nothing-but-nix@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v12

      - name: Build Nix flake
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
