name: Nix build

on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host:
          - obiwan
          - chewie

    steps:
      - uses: actions/checkout@v4

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@main

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: nix flake check
        run: nix flake check -L

      - name: Build default package
        run: nix build -L .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
